<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-permission-heading" jhiTranslate="viewApp.permission.home.createOrEditLabel">Create or edit a Permission</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!permission.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="permission.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.permission.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="permission.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.permission.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="permission.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.permission.action" for="field_action">Action</label>
                    <input type="text" class="form-control" name="action" id="field_action"
                        [(ngModel)]="permission.action" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="viewApp.permission.role" for="field_role">Role</label>
                    <select class="form-control" id="field_role" multiple name="role" [(ngModel)]="permission.roles">
                        <option [ngValue]="getSelected(permission.roles, roleOption)" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
