<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-achievement-heading" jhiTranslate="viewApp.achievement.home.createOrEditLabel">Create or edit a Achievement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!achievement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="achievement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.achievement.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="achievement.status" required/>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.achievement.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="achievement.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === achievement.user?.id ? achievement.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.achievement.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" [(ngModel)]="achievement.department">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id === achievement.department?.id ? achievement.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.achievement.criteria" for="field_criteria">Criteria</label>
                    <select class="form-control" id="field_criteria" name="criteria" [(ngModel)]="achievement.criteria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="criteriaOption.id === achievement.criteria?.id ? achievement.criteria : criteriaOption" *ngFor="let criteriaOption of criteria; trackBy: trackCriteriaById">{{criteriaOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
