<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-feedback-heading" jhiTranslate="viewApp.feedback.home.createOrEditLabel">Create or edit a Feedback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!feedback.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="feedback.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.feedback.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                        [(ngModel)]="feedback.subject" required/>
                    <div [hidden]="!(editForm.controls.subject?.dirty && editForm.controls.subject?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.subject?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.feedback.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="feedback.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.feedback.rating" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                        [(ngModel)]="feedback.rating" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.feedback.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="feedback.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === feedback.user?.id ? feedback.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
