<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-criteria-heading" jhiTranslate="viewApp.criteria.home.createOrEditLabel">Create or edit a Criteria</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!criteria.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="criteria.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.criteria.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="criteria.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.criteria.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="criteria.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.criteria.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                        [(ngModel)]="criteria.level" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="viewApp.criteria.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="criteria.type" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="viewApp.criteria.criteria" for="field_criteria">Criteria</label>
                    <select class="form-control" id="field_criteria" multiple name="criteria" [(ngModel)]="criteria.criteria">
                        <option [ngValue]="getSelected(criteria.criteria, criteriaOption)" *ngFor="let criteriaOption of criteria; trackBy: trackCriteriaById">{{criteriaOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
