<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="criteria">
            <h2><span jhiTranslate="viewApp.criteria.detail.title">Criteria</span> {{criteria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="viewApp.criteria.name">Name</span></dt>
                <dd>
                    <span>{{criteria.name}}</span>
                </dd>
                <dt><span jhiTranslate="viewApp.criteria.description">Description</span></dt>
                <dd>
                    <span>{{criteria.description}}</span>
                </dd>
                <dt><span jhiTranslate="viewApp.criteria.level">Level</span></dt>
                <dd>
                    <span>{{criteria.level}}</span>
                </dd>
                <dt><span jhiTranslate="viewApp.criteria.type">Type</span></dt>
                <dd>
                    <span>{{criteria.type}}</span>
                </dd>
                <dt><span jhiTranslate="viewApp.criteria.criteria">Criteria</span></dt>
                <dd>
                    <span *ngFor="let criteria of criteria.criteria; let last = last">
                        <a [routerLink]="['/criteria', criteria?.id, 'view' ]">{{criteria.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/criteria', criteria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
